name: ❄️
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
    branches: [main]
    paths:
      - '**'
      - '!**.md'
      - '!.vscode'
  pull_request:
    paths:
      - '**'
      - '!**.md'
      - '!.vscode'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - macos-26
          # - macos-15-intel # Don't enable for now. Because it is too slow
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
      - run: nix build

  flake:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
      - run: nix flake check
      - run: nix flake show

  shell:
    defaults:
      run:
        shell: nix develop --command bash -eu -o pipefail {0}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - macos-26
          # - macos-15-intel # Don't enable for now. Because it is too slow
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
      - run: echo 'This step should be done before any other "nix develop" steps to measure the setup time'
      - run: cargo fmt --check
      - run: cargo clippy -- --deny warnings
      - run: cargo test
